@import "./responsive";
.contenedor{
    display:grid;
    grid-template-areas: 
                        "nav nav nav"
                        "noticias noticias atajo"
                        "resumen resumen resumen"
                        "footer footer footer"; 
    @include movil {
        grid-template-areas: "nav"
                             "atajo"
                             "noticias"
                             "resumen"
                             "footer";
    }
}