@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor {
  display: grid;
  grid-template-areas: "nav nav nav" "noticias noticias atajo" "resumen resumen resumen" "footer footer footer"; }
  @media only screen and (max-width: 500px) {
    .contenedor {
      grid-template-areas: "nav" "atajo" "noticias" "resumen" "footer"; } }

/*seccion Inicio*/
body {
  background-image: url(../Assets/Hinchada.jpg); }

header {
  grid-area: nav;
  margin-bottom: 5%; }
  header .Txtlogo {
    font-family: "Volkhov";
    color: rgba(69, 171, 230, 0.829); }

.principal {
  background-color: whitesmoke;
  margin-left: 2.5%;
  padding: 30px 30px;
  border-radius: 1%;
  grid-area: noticias;
  font-family: "Segoe UI";
  font-size: 1em; }
  @media only screen and (max-width: 500px) {
    .principal {
      margin: 0 5%; } }

.noticiaUno {
  display: flex; }
  .noticiaUno__img, .noticiaDos img {
    border-radius: 5%; }
  .noticiaUno__texto, .noticiaDos__texto, .atajo, footer .redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px; }
  @media only screen and (max-width: 500px) {
    .noticiaUno {
      flex-direction: column;
      align-items: center; } }

.noticiaDos {
  display: flex;
  flex-direction: row-reverse; }
  @media only screen and (max-width: 500px) {
    .noticiaDos {
      flex-direction: column;
      align-items: center; } }

.atajo {
  background-color: whitesmoke;
  padding: 50px 20px;
  margin-right: 5%;
  border-radius: 1%;
  grid-area: atajo;
  font-family: "Segoe UI";
  font-size: 1em; }
  .atajo__titulo {
    margin: 20px 0; }
  .atajo__img {
    border-radius: 5%;
    overflow: hidden; }
  .atajo__img img {
    border-radius: 5%;
    transition: transform 3s; }
  .atajo__img img:hover {
    transform: scale(1.2); }
  @media only screen and (max-width: 500px) {
    .atajo {
      margin: 0 5%;
      height: 50vh; } }

.reseña {
  font-family: "Times New Roman";
  grid-area: resumen;
  margin-top: 5%; }

footer {
  background: #394aff;
  background: -moz-linear-gradient(0deg, rgba(57, 74, 255, 0.975228) 3%, #18b7e0 33%, white 91%);
  background: -webkit-linear-gradient(0deg, rgba(57, 74, 255, 0.975228) 3%, #18b7e0 33%, white 91%);
  background: linear-gradient(0deg, rgba(57, 74, 255, 0.975228) 3%, #18b7e0 33%, white 91%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#394aff",endColorstr="#ffffff",GradientType=1);
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.808);
  display: flex;
  justify-content: space-evenly;
  grid-area: footer;
  font-family: "Franklin Gothic Medium";
  font-size: 1em; }
  footer .imgf {
    display: flex;
    align-items: center;
    margin: 2% 0; }
  footer .redes ul {
    list-style: none; }
  footer .contacto {
    display: flex;
    align-items: center; }
  @media only screen and (max-width: 500px) {
    footer {
      flex-direction: column;
      align-items: center; } }
